body {
    font-family: 'Montserrat', sans-serif; 
    color: #212121;
    font-size: 0.95rem; 
}


body a {
    color: #005bc5;
}

body a:hover {
    color: #000;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair', serif;
    color: #000;
}

.h1, .h2, h1, h2 {
    margin: 1.5rem 0;
    font-weight: 750;
    letter-spacing: -.02em;
}

.h3, h3 {
    font-weight: 600;
    letter-spacing: -.02em;
}

.wrap {
    max-width: 750px;
    margin: 0 auto;
}

/* Header */

.navbar-brand {
    font-family: 'Playfair', serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.02em;
}

.nav-link span {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.05rem;
    font-weight: 600;
}

/* Default Layout */

.single h1, .single h2, .single h3, .single h4, .single h5, .single h6, .single ol, .single p, .single ul, .single hr {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.lead {
    font-weight: 400;
}

/* Primary Button */

.btn-primary {
    background: #005bc5;
    padding: 15px 20px;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-primary:hover {
    background: #000;
}

/* Big Fucking Red Button */

.button {
    max-width: 750px;
    margin: 40px auto;
}

.big-red-button {
    padding: 15px 20px;
    background: #005bc5;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

a.big-red-button:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

.triangle-list {
    list-style-type: none;
    padding-left: 0;
}

.triangle-list li {
    position: relative;
    margin-bottom: 20px; /* Adjust the margin between list items */
}

.triangle-list li:before {
    content: '';
    position: absolute;
    left: -20px; /* Adjust to match the padding-left value */
    top: 50%; /* Position the bullet halfway between the link text and the descriptive text */
    transform: translateY(-50%); /* Center the bullet vertically */
    width: 12px; /* Adjust the size of the dots */
    height: 12px; /* Adjust the size of the dots */
    border-radius: 50%; /* Create a circular shape */
    background-color: #005bc5; /* Set the color of the dots */
}

.triangle-list li a {
    font-weight: bold;
    font-size: 1.2rem; /* Increase font size as needed */
    margin-left: 15px; /* Move the link text slightly right */
    display: inline-block; /* Ensure proper indentation of multi-line link text */
    text-indent: -15px; /* Align multi-line link text with the first line */
}

.triangle-list li .description {
    font-size: 14px; /* Adjust the font size as needed */
    color: #555; /* Adjust the color of the description text */
    display: block; /* Ensure the description text is on a new line */
    margin-top: 5px; /* Add more vertical space between link text and descriptive text */
    margin-left: 20px; /* Indent the description text further right */
}

@media (max-width: 768px) {
    .triangle-list li:before {
        left: -10px; /* Adjust the position of the bullets for mobile devices */
    }
    
    .triangle-list li a {
        margin-left: 10px; /* Adjust the position of the link text for mobile devices */
        text-indent: -10px; /* Align multi-line link text with the first line for mobile devices */
    }
    
    .triangle-list li .description {
        margin-left: 15px; /* Adjust the position of the descriptive text for mobile devices */
    }
}

.page-up-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 91, 197, 0.75); /* Adjust the opacity to 90% */
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 20px;
}

.page-up-arrow a {
    color: inherit;
    text-decoration: none;
}

.iframe-container {
    margin-bottom: 40px; /* Adjust as needed */
  }
  
  .iframe-container iframe {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
  }
  .social-links {
    display: flex;
    justify-content: center; /* Adjust as needed */
    margin-top: 20px; /* Adjust as needed */
  }
  
  .social-links a {
    color: #333; /* Adjust the color as needed */
    font-size: 24px; /* Adjust the font size as needed */
    margin: 0 10px; /* Adjust the spacing between icons */
  }
  
  .social-links a:hover {
    color: #007bff; /* Adjust the hover color as needed */
  }
  
  

